{% extends "app/base.html" %}
{% block main-content %}
<div class="container my-5">
  <h3>Reset your password</h3>
  <p>Enter the email address associated with your account and we'll send a link.</p>

  <form method="post" class="shadow p-4">
    {% csrf_token %}
    {{ form.email.label_tag }} 
    {{ form.email }}
    <div class="text-danger">{{ form.email.errors }}</div>

    <button type="submit" class="btn btn-primary mt-3">Send reset email</button>
  </form>
</div>
{% endblock main-content %}
